header {
    width: 100%;
    background: linear-gradient(#e1e0e0 ,#BBBBBB);
    padding: 20px;
    
}

.caja{
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.caja h1 img {
    width: 110px;
    height: 130px;
    margin-left: 100px;
}

nav {
    position: absolute;
    top: 70px;
    right: 50px;
}


nav li {
    display: inline;
    margin: 0 0 0 15px;
}


nav a {
    text-transform: uppercase;
    color: #000000;
    font-family: fantasy;
    font-size: 26px;
    text-decoration: none;
}

nav a:hover{
    color: blue;
}

main {
    width: 100%;
    margin: 30px 0 0 5%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.datos label {
    display: block;
    margin: 25px 0 13px 0;
}   

.datos label:hover {
    font-weight: bold;
    font-size: 18px;
}

.datos input {
    display: block;
    width: 50%;
    height: 30px;
    border-radius: 5px;
}

.mensaje {
    margin: 30px 0;
}

.mensaje label:hover {
    font-weight: bold;
    font-size: 18px;  
}

textarea{
    margin-top: 20px;
    width: 50%;
}


.radio p {
    margin: 15px 0;
}

.radio label {
    display: block;
    text-align: left;
    margin: 12px 5px;
}

.horario {
    margin: 20px 0;
}

select {
    width: 90px;
    height: 30px;
    font-size: 17px;
}

.checkbox {
    margin: 20px 0;
}

button {
    width: 30%;
    padding: 15px;
    background: linear-gradient(to right, #040438, #181084, #3e3ef9);
    margin: 20px 0;
    font-size: 18px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: 1s background;
    color: #e1e0e0;
}

button:hover {
       font-size: 20px;
}

table {
    margin: 60px 0;
}

thead {
    background-color:  #0a2e6d;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}

footer {
    width: 100%;
    height: 27%;
    justify-content: center;
    background-image: url(bg.jpg);
    color: white;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    
}

.pie-pagina {
   font-size: 21px; 
   margin: 31px 5px 20px 5px;
}

.mi-logo {
   width: 50px;
   height: 50px; 
   margin-top: 15px;
   
}

   
.iconos img {
    width: 35px;
    width: 35px;
    margin: 15px 6px 10px 5px; 
    display: inline-block;
        
}

/* adaptativo */

@media screen and (max-width:760px){
   
    header {
       padding: 0;
       height: auto;
       width: 100%;
    }

   .caja h1 img {
      clear: left;
      margin-left: 0; 
      top: 22px;
                   
   }

   nav li a{
       
       justify-items: center;
       font-size: 1em;
       position: relative;
       left: 12%;
       top: -13px;
    
   }
    
   main {
    margin-left: 3%;
   }
  
   .datos input, .mensaje textarea {
    width: 75%;
    
   }

  form > button  {
    width: 65%;
    text-align: center;
    margin: 4% 0 0 16%;
   }
}

